.found{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;

    /*padding-bottom: 20px;*/

}
.found-tools{
    display: flex;
    flex-direction: row;
}
.close-found{
    position: absolute;
    right: -10px;
    top: -10px;
    border: 3px solid lightseagreen;
    color:lightseagreen;
    background-color: #eeeeee;
    border-radius: 50%;
    padding:0px;
    width: 30px;
    height: 30px;
    font-weight: bold;
}
.close-found:hover{
    background-color: lightseagreen;
    color: #eeeeee;

}
/*.item-container{*/
/*    width:90%;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/


/*}*/
.found-item-info{
    width: 60%;
    background-color: white;
    position:relative;

    padding:10px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.water-care{
    background-color: lightblue;
    padding: 5px;
    display: flex;

}
.care-icon {
    margin: 5px 10px;
}


.care {
    background-color: paleturquoise;
    padding: 5px;
    display: flex;

}
.light-care {
    background-color: lemonchiffon;
    padding: 5px;
    display: flex;

}
.food-care {
    background-color: #f6d0f6;
    padding: 5px;
    display: flex;
}

/*@media (min-width: 755px) and (max-width: 1110px) {*/
/*    .item {*/
/*        max-width: 48%;*/
/*    }*/
/*    .found-tools{*/

/*        flex-direction: column;*/
/*    }*/
/*}*/
@media (max-width: 755px) {
    .found-item-info {
        max-width: 80%;
    }
    .found-tools{

        flex-direction: column;
    }
}