/* Full PLANT Styles */
.container {
    min-height: 65%;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    background-color: lightgray;

}
.page-header{
    text-align: center;
    color: #00828e;
    margin-bottom: 20px;
}
.page-text{
    text-align: center;
}

.full-item-container {
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.full-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
}
.full-item-picture{
    margin-right: 20px;
}
.full-item-text{
    margin: 20px 20px;
    word-break: keep-all;
}
.full-item-text p{
    margin-top: 10px;

}
.card-container {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}
.full-item-card {
    width: 50%;

}
.full-item-tools {
    width:100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #FFFFFF;
}

.f-care-icon {
    margin: 5px 10px;
}
.f-water-care{
    background-color: lightblue;
    padding: 5px;
    display: flex;

}

.f-care {
    background-color: paleturquoise;
    padding: 5px;
    display: flex;

}
.f-light-care {
    background-color: lemonchiffon;
    padding: 5px;
    display: flex;

}
.f-food-care {
    background-color: #f6d0f6;
    padding: 5px;
    display: flex;
}
/*.edit-btn{*/
/*    width:120px;*/
/*    background-color: #3498db;*/
/*    font-size: 14px;*/
/*    color:#fff;;*/
/*    text-decoration: none;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    font-weight: 400;*/
/*    letter-spacing: 1px;*/
/*    cursor: pointer;*/
/*}*/
/*.edit-img-btn{*/
/*    background-color: darkcyan;*/
/*    font-size: 14px;*/
/*    color:#fff;;*/
/*    text-decoration: none;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    font-weight: 400;*/
/*    letter-spacing: 1px;*/
/*    cursor: pointer;*/
/*}*/


@media (max-width: 855px) {

    .full-item-picture{
        margin-right: 0;
        width:100%;
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .full-item-card{
        width: 100%;
    }
    /*.full-item-tools{*/
    /*    flex-direction: column;*/
    /*}*/
    /*.f-tools-container{*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    .full-item {
        flex-direction: column;
        align-items: center;
    }



    @media (max-width: 755px) {
        /*.f-tools-container{*/
        /*    display: flex;*/
        /*    flex-direction: column;*/
        /*    align-content: center;*/
        /*}*/
    }
}

