.search-bar{
    background-color: #00828e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.search-form{
    display: flex;
    align-items: baseline;

}
.search-btn{
    width: 30px;
    height: 30px;
    padding:0px;
    background-color: darkseagreen;
    color: #FFFFFF;

}
.search-icon{
}
.search-input {
    padding-left: 10px;
    height: 30px;
}
.search-input text {
    margin: 10px;
}