.user-reset{
    display: flex;
    align-items: center;
    align-content: center;
    width:100%;

}
.user-reset-form{
    width:60%;
    padding:20px;
    background-color: #eeeeee;
    margin:auto;
    margin-top: 20px;
}
.reset-btn{

    height:50px;
    margin: 20px 10px;
    background-color: cadetblue;
    color:white;
    width:100%;
}
.reset-btn:hover{
    cursor: pointer;
    background: #00828e;
    transition: all 0.4s ease-out;

}