.user-tools{
    display: flex;
    align-items: center;
    align-content: center;
}
.user-btn{
    margin: 20px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;

}