/* We will need to add this to url because of the CORS issue */

/* https://cors-anywhere.herokuapp.com/ */

/* Paste these into html */

/* <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
/>


/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1 h2 h3 h4 h5{
  margin-top: 10px;
}

/* Loader */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498db;
  border-radius: 5px;
  animation: spinner 1.8s ease-in-out infinite;
}

.loader::before,
.loader::after {
  position: absolute;
  display: block;
  content: "";
  animation: spinner 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}

.loader::before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: #ef4836;
}

.loader::after {
  bottom: -20px;
  width: 35px;
  background: #f5ab35;
}

@keyframes spinner {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

/* Button */

button {
  border: none;
  outline: none;
  width: 90px;
  padding: 10px 0;
  color: #fff;
  background: darkseagreen;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
#root{
  background-color: lightgray;
}
.page-header{
  text-align: center;
  color: #00828e;
}
.page-text{
  text-align: center;
}
/* Container */

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  background-color: lightgray;
}
.portal{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.content{
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  background-color: #eeeeee;
}

/* Nav Styles */

nav {
  width: 100%;
  min-height: 10vh;
  padding: 16px 0;
  background: cadetblue;
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 0 1.5em;
}

nav h2 {
  color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  width: 80%;

  list-style: none;
}
.nav-links{
  color: white;
  padding: 10px 20px;
  margin: 0 10px;

  cursor: pointer;


}

.nav-links a{
  color: #fff;

  text-decoration: none;
}
.mobile-menu-icon{
  display:none;
}
/* Logo Styles */

.logo {
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

.logo span {
  color: greenyellow;
  font-weight: 800;
  margin-left: 2px;
}

/* Hero Styles */

.hero {
  width: 100%;
  min-height: calc(100vh - 58px);
  padding-bottom: 28px;
  position: relative;
}

.hero .container:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Search Styles */

/*form {
  width: 100%;

  display: flex;
  align-items: center;
}

form .formContainer {
  height: 38px;
  position: relative;
}

form .formContainer input,
form .formContainer button {
  height: 100%;
  border: none;
  outline: none;
}

form .formContainer input {
  border: 1px solid #eee;
  padding: 0 10px;
  width: 260px;
  display: block;
}

form .formContainer input:valid,
form .formContainer input:focus {
  border: 1px solid #353b80;
}*/

/*form .formContainer input:valid + label,
form .formContainer input:focus + label {
  color: #353b80;
  font-size: 16px;
  font-weight: 600;
  transform: translateY(-24px);
}

form .formContainer label {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transform: translateY(9px) translateX(10px);
  transition: all 400ms ease-in-out;
}

!* Item Styles *!

.item {

  width: 100%;
  max-width: 330px;
  margin: 28px 0 0 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item a {
  text-decoration: none;
}

.item a .itemBg {
  width: 100%;
  height: 280px;
}*/
/*eigen stukje*/
.item-container{
  width:90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}
.itemInfo{
  width: 250px;
  background-color: white;
  margin: 10px;
  padding:10px;
}
.water-care{
  background-color: lightblue;
  padding: 5px;

}
.care {
  background-color: paleturquoise;
  padding: 5px;

}
.light-care {
  background-color: lemonchiffon;
  padding: 5px;

}
.food-care {
  background-color: #f6d0f6;
  padding: 5px;

}
/*.item .itemInfo {*/
/*  background: #202342;*/
/*  padding: 24px 34px;*/
/*}*/

/*.item .itemInfo p {*/
/*  color: #fafafa;*/
/*}*/

/*.item .itemInfo p:last-of-type {*/
/*  margin: 6px 0;*/
/*}*/

/*.Item .itemInfo a {*/
/*  display: inline-block;*/
/*  margin: 4px 0 0 0;*/
/*  padding: 8px;*/
/*  border: none;*/
/*  outline: none;*/
/*  color: #fff;*/
/*  background: #353b80;*/
/*  font-weight: 600;*/
/*  letter-spacing: 1px;*/
/*  cursor: pointer;*/
/*}*/

/* Pagination Styles */

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 28px 0 0 0;
}

.pagination button {
  margin: 0 10px;
}

/* Error Message Styles */

.errorMsg {
  font-size: 26px;
  line-height: 1;
  color: red;
  margin: 18px 0 0 0;
}

/* Full PLANT Styles */

.fullItem {
  width: 100%;
  min-height: calc(100vh - 58px);
  background: #fff;
  display: flex;
}

.fullItem .container {
  margin: auto;
}

.fullItem .container .fullItemCard {
  width: 100%;
  display: flex;
}

.fullItem .container .fullItemCard .fullItemBg {
  width: 100%;
  max-width: 50%;
  min-height: 600px;
  height: 600px;
}

.fullItem .container .fullItemCard .fullItemInfo {
  width: 100%;
  max-width: 50%;
  height: 600px;
  max-height: 600px;
  padding: 20px 38px;
  background: #353b80;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.fullItem .container .fullItemCard .fullItemInfo::-webkit-scrollbar {
  width: 1em;
}

.fullItem
.container
.fullItemCard
.fullItemInfo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #142b44;
  border-radius: 50px;
}

.fullItem
.container
.fullItemCard
.fullItemInfo::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  outline: 1px solid slategrey;
  border-radius: 50px;
}

.fullItem .container .fullItemCard .fullItemInfo ul {
  margin: 12px 0 0 0;
}

.fullItem .container .fullItemCard .fullItemInfo ul li {
  margin: 4px 0 0 0;
  word-wrap: break-word;
}

#footer{
  height: 150px;
  background-color: #00828e;
  color: #eeeeee;
  text-align: center;
  margin-top: auto;
}

/* Media Queries */

/*@media (max-width: 754px) {*/
/*  .hero .container:nth-of-type(2) {*/
/*    flex-wrap: nowrap;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/
/*  form {*/
/*    max-width: 520px;*/
/*    margin: 28px auto 0 auto;*/
/*  }*/
/*  form .formContainer {*/
/*    width: 80%;*/
/*  }*/
/*  form .formContainer input {*/
/*    width: 100%;*/
/*  }*/
/*  form .formContainer button {*/
/*    width: 20%;*/
/*  }*/
/*  .item {*/
/*    max-width: 520px;*/
/*  }*/
/*  .errorMsg {*/
/*    font-size: 19px;*/
/*  }*/
/*}*/

@media (min-width: 755px) and (max-width: 1110px) {
  .item {
    max-width: 48%;
  }
}

@media (max-width: 855px) {
  .fullItem .container .fullItemCard {
    flex-direction: column;
    align-items: center;
  }
  .fullItem .container .fullItemCard .fullItemBg {
    max-width: 100%;
    min-height: 280px;
    height: 280px;
  }
  .fullItem .container .fullItemCard .fullItemInfo {
    max-width: 100%;
    height: auto;
    max-height: 420px;
  }
  .fullItem .container .fullItemCard .fullItemInfo h2 {
    font-size: 22px;
  }
  .fullItem .container .fullItemCard .fullItemInfo ul li {
    font-size: 15px;
  }
}

@media (max-width: 1110px) {
  .container {
    max-width: 94%;
  }
}
@media all and (max-width: 768px) {
  .mobile-menu-icon{
    display: block;
    color: white;
    position: absolute;
    top: 10px;
    right:10px;
  }
  .nav-menu-mobile{
    display: block;
    position: absolute;
    top:75px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00828e;
    transition: all 0.5s ease-out;
  }
  .nav-menu{
    display:none;
  }
}

