/* Nav Styles */

nav {
    width: 100%;
    min-height: 10vh;
    /*margin-bottom: 30px;*/
    /*padding: 16px 0;*/
    background: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5em;
}

nav h2 {
    color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    height: 100%;
    width: 80%;
    list-style: none;
}
.nav-links{
    color: white;
    padding: 23px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
}
.nav-links a:hover{
    color:#00828e;
    /*background-color: #8ABBC3;*/
}
.nav-links a:active{
    color:#00828e;
    /*background-color: #8ABBC3;*/
}


.activeLink{
   height:100%;
   /*background-color: #8ABBC3;*/
}
.mobile-menu-icon{
    display:none;
}
.log-out{
    width: 80px;
    background-color: darkseagreen;
    color: white;
    padding: 7px;
    margin-left: 10px;
    cursor: pointer;
}
.log-out:hover{
    background-color: #00828e;
}

@media all and (max-width: 768px) {
    .mobile-menu-icon{
        display: block;
        color: white;
        position: absolute;
        top: 100px;
        right:10px;
    }
    .nav-menu-mobile{
        display: block;
        position: absolute;
        top:75px;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #00828e;
        transition: all 0.5s ease-out;
    }
    .nav-menu{
        display:none;
    }
}